# API key
MISTRAL_API_KEY=
# Postgres
POSTGRES_DB=main_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres_db
# QDRANT
QDRANT_HOST=qdrant_db
QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334
# Redis
REDIS_HOST=redis_db
REDIS_PORT=6379
# JWT
SECRET_KEY_ACCESS=
SECRET_KEY_REFRESH=
JWT_SIGNING_ALGORITHM=HS256
